{% extends "base.html" %}

{% block javascript %}
<script>
  $(document).ready(function(){

    function renderChart(id, data, labels){
      const canvas = document.getElementById(id);
      const ctx = canvas.getContext("2d");

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Ventas',
            data: data,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }

    function getSalesData(id, type){
      console.log("Pidiendo data para:", type);

      $.ajax({
        url: "/analytics/sales/data",
        method: "GET",
        data: { type: type },
        success: function(responseData){
          console.log("Respuesta:", responseData);
          renderChart(id, responseData.data, responseData.labels);
        },
        error: function(){
          console.error("Error AJAX");
        }
      });
    }

    $(".render-chart").each(function(){
      const id = $(this).attr("id");
      const type = $(this).data("type");

      if (id && type){
        getSalesData(id, type);
      }
    });
  });
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
    <h1>Ventas</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Recientes</p>
    <ol>
      {% for order in recent_orders %}
      <li>
        {{ order.order_id }}
        {{ order.total }}
        {{ order.updated }}
      </li>
      {% endfor%}
    </ol>
  </div>
  <div class="col">
    <p>Enviados</p>
    <ol>
      {% for order in shipped_orders %}
      <li>
        {{ order.order_id }}
        {{ order.total }}
        {{ order.updated }}
      </li>
      {% endfor%}
    </ol>
  </div>
    <div class="col">
    <p>Pagados</p>
    <ol>
      {% for order in paid_orders %}
      <li>
        {{ order.order_id }}
        {{ order.total }}
        {{ order.updated }}
      </li>
      {% endfor%}
    </ol>
  </div>
</div>

<div class="col">
  <canvas class="render-chart" 
  id="thisWeekSales" 
  data-type="week" 
  width="400" 
  height="400"></canvas>
</div>


{% endblock %}
